@font-face {
    font-family: 'Minecraftia';
    src: url('../flappy_bird/images/minecraftia/Minecraftia-Regular.ttf') format('truetype');
}

body {
    font-family: 'Minecraftia', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.content {
    text-align: center;
    padding: 50px;
}

.text-buttons {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-top: 20px;
}

.flappy_bird {
    width: 180px;
    height: 140px;
    margin: 20px 0;
    transform: rotate(-45deg); /* Adjust the angle as needed */
}

.buttons {
    margin-top: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Minecraftia', Arial, sans-serif;
}

button:hover {
    background-color: #45a049;
}

.git_display {
    margin-top: 20px;
    font-size: 0.9em;
}

.git_display a {
    color: #0000EE;
    text-decoration: none;
}

.git_display a:hover {
    text-decoration: underline;
}