@font-face {
    font-family: 'Minecraftia';
    src: url('Minecraftia-Regular.ttf?v=1') format('truetype');
}

body {
    font-family: 'Minecraftia', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.background {
    background-image: url('background.jpg'); /* Path to your background image */
    background-size: cover; /* Ensure the background covers the entire page */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: moveBackground 30s linear infinite; /* Adjust time for desired speed */
}

/* Keyframe animation to scroll the background horizontally */
@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0; /* Move the background horizontally */
    }
}

.content {
    text-align: center;
    padding: 50px;
    position: relative;
    z-index: 1;
}

.text-buttons {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-top: 20px;
}

.flappy_bird {
    width: 180px;
    height: 140px;
    margin: 20px 0;
    transform: rotate(-45deg);
}

.buttons {
    margin-top: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Minecraftia', Arial, sans-serif;
}

button:hover {
    background-color: #45a049;
}

.git_display {
    margin-top: 20px;
    font-size: 0.9em;
}

.git_display a {
    color: #0000EE;
    text-decoration: none;
}

.git_display a:hover {
    text-decoration: underline;
}
